html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: .6rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
}

.block {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#petersagan {
    background-image: url("images/img1.jpg");
}

#personalinfo {
    background-image: url("images/img2.png");

    color: white;
}

#teaminfo {
    background-image: url("images/img3.jpg");

    color: white;
}

.title {
    position: sticky;
    top: 0;

    width: 100vw;

    margin: 1rem 0;

    font-size: 3rem;
    font-style: italic;

    text-align: center;

    transition: 200ms all ease-in-out;

    border: none;
}

.text-block {
    display: inline-block;

    font-size: 1.2rem;

    margin: 1rem;
    padding: 0;
}

.router-popup-trigger {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0);
}

.router-popup-trigger:hover .router-popup {
    transform: translateY(20%);
}

.router-popup {
    transition: 500ms all ease-in-out;
    transform: translateY(-100%);

    background-color: #b7b7b7;

    margin: 0 .5rem;
    padding: .5rem;

    border-radius: .5rem 0 .5rem .5rem;

    float: right;

    font-size: 1.25rem;
}
