html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    position: sticky;
    top: 0;

    width: fit-content;
    height: fit-content;

    margin: 2rem 0;

    font-size: 3rem;
    font-style: italic;

    text-align: center;

    transition: 200ms all ease-in-out;

    border: none black;
    border-bottom: 2px solid black;
}

.title-img {
    width: 80vw;

    margin: 0;
    padding: 0;
}

.heading {
    position: sticky;

    width: fit-content;
    height: fit-content;

    font-size: 2rem;

    margin: 1rem;
}

.text-block {
    display: inline-block;

    font-size: 1rem;

    text-align: center;
}
