#petersagan {
    background-image: url("../images/index-1.jpg");
}

#personalinfo {
    background-image: url("../images/index-2.png");

    color: white;
}

#teaminfo {
    background-image: url("../images/index-3.jpg");

    color: white;
}
